body {
  line-height: 1.6;
  font-size: 18px;
}

.article-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
}

.article-content {
  margin-left: 15%;
  margin-right: 15%;
}

.article-content-wrapper {
  flex: 7;
  min-width: 0;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }
}

.article-navigation {
  position: sticky;
  align-self: flex-start;
  top: 6rem;
  left: 4rem;
  flex: 1;
}

.figure {
  margin: auto;
}

.readonly-link {
  cursor: default !important;
}

/* Animations */

.hidden {
  opacity: 0;
}

.fadeInText {
  animation-duration: 1s;
  animation-name: fadeInText;
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeFromLeft {
  animation-duration: 1s;
  animation-name: fadeFromLeft;
}

.fadeFromLeft1 {
  animation-duration: 1s;
  animation-name: fadeFromLeft;
  animation-delay: 0.1s;
  opacity: 0;
  animation-fill-mode: forwards;

}

.fadeFromLeft2 {
  animation-duration: 1s;
  animation-name: fadeFromLeft;
  animation-delay: 0.2s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.fadeFromLeft3 {
  animation-duration: 1s;
  animation-name: fadeFromLeft;
  animation-delay: 0.3s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes fadeFromLeft {
  0% {
    transform: translate(-1rem);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}