.article-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
}

.article-content {
  margin: auto;
  max-width: 800px;
}

.article-content-wrapper {
  flex: 7;
  min-width: 0;
}

@media (max-width: 991px) {
  .hidden-mobile {
    display: none;
  }
}

.article-navigation {
  position: sticky;
  align-self: flex-start;
  top: 6rem;
  left: 4rem;
  flex: 1;
}

.figure {
  margin: auto;
}

.readonly-link {
  cursor: default !important;
}

/* Animations */

.hidden {
  opacity: 0;
}

.fadeInText {
  animation-duration: 1.5s;
  animation-name: fadeInText;
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeFromLeft {
  animation-duration: 1s;
  animation-name: fadeFromLeft;
  opacity: 0;
  animation-fill-mode: forwards;
}

.delay1 {
  animation-delay: 0.1s;
}

.delay2 {
  animation-delay: 0.2s;
}

.delay3 {
  animation-delay: 0.3s;
}

@keyframes fadeFromLeft {
  0% {
    transform: translate(-1rem);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

/* 
From https://github.com/KaTeX/KaTeX/issues/1775 
Fixes issue with fraction lines not showing up.
*/
.katex .mfrac .frac-line {
  border-bottom-style: solid;
}
