body {
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: Georgia, "Times New Roman", Times, serif;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  line-height: 1.6;
  /* margin: 30px; */
  /* padding-top: 60px; */
  font-size: 18px;
  /* max-width: 100%;
  overflow-x: hidden; */
}

.article-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
}

.article-content {
  margin-left: 15%;
  margin-right: 15%;
}

.article-content-wrapper {
  flex: 7;
  min-width: 0;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }
}

.article-navigation {
  position: sticky;
  align-self: flex-start;
  top: 6rem;
  left: 4rem;
  flex: 1;
}

.figure {
  margin: auto;
}

/* .dark {
  background-color: #333;
  color: whitesmoke;
}

.light {
  background-color: whitesmoke;
  color: #333;
} */

/* .katex {
  font-size: 1.5em;
} */

.bi.bi-diagram .bi-link-canvas-layer .bi-diagram-link .bi-link-path {
  stroke: #67b9ee !important;
  stroke-dasharray: 10, 2 !important;
  animation: BiDashSegmentAnimation 1.7s linear infinite !important;
}

.bi-diagram-port {
  background-color: transparent !important;
}

.bi {
  cursor: default !important;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-family: "Courier", monospace;
  /* font-weight: bold; */
  font-size: 15px;
}

.bi-link-path {
  cursor: default !important;
}

.readonly-link {
  cursor: default !important;
}

.bi-diagram {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.bi-diagram-node {
  border: none !important;
  display: flex !important;
}

.bi-port-wrapper {
  position: absolute !important;
  width: 100%;
}
